<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

 <html>
        <head>
            <title>Restaurant</title>
        </head>
        <body>

             <div>
                <h1><p>Restaurants Lleida</p></h1>
                 <br> </br>
            </div>

        {% for rest in rests %}
         <!--{{ rest }}-->

            <div>
            <br> </br>
                <p>Nom: <b>{{ rest.name }}</b></p>
                <p>Telefon: {{ rest.telephone }}</p>
                <p>Direccio: {{ rest.street }}</p>
                <p>Ciutat: {{ rest.city }}</p>
                <p><a href="Lloc web">{{ rest.web }}</a><p>

            </div>

        {% endfor %}
        </body>

    </html>